@media (max-width: 1600px) {
  .gallery__title {
    max-width: 640px;
  }

  .gallery__info--text {
    padding-bottom: 60px;
}

  .gallery__more {
    top: 123px;
  }

  .gallery__info--text {
    margin-inline: 60px;
  }
}
