:root {
  --color-title: #181818;
  --color-white: #ffffff;
  --color-hover: #ffcc4a;

  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-title: 1.16;
  --font-title-2: "Cabin", sans-serif;
  
  --font-size-title-3: 25px;
}
$color-text: #595566;
$color-title-2: #181818;
$color-white: #ffffff;
$color-hover: #ffcc4a;

$bg-color-grey: #f5f5f5;

$font-weight-bold: 700;
$font-weight-semibold: 600;

$font-size: 16px;
$font-size-title-2: 45px;
$font-size-title-3: 25px;
$font-size-title-4: 20px;

$line-height: 1.47;
$line-height-title: 1.16;

$font-main: "Lato", sans-serif;
$font-title-2: "Cabin", sans-serif;
